@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #262a2b;
}

.head {
  background: #1e2122;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer components {
  .icon {
    @apply h-9 w-6 cursor-pointer rounded-sm  hover:bg-[#afa99e60] lg:w-9 lg:p-1;
  }
  .animate {
    @apply transition transition-all duration-300 ease-in-out;
  }
  .voteButtons {
    @apply animate h-6 w-6 cursor-pointer rounded-lg p-1  hover:bg-gray-200 hover:shadow-lg;
  }
}
